#!/usr/bin/env bash
CLOUDFLARE_API_TOKEN="$(sops -d --extract '["api_token"]' ../secrets/cloudflare.yaml)"
export CLOUDFLARE_API_TOKEN

HCLOUD_TOKEN="$(sops -d --extract '["api_token"]' ../secrets/hetzner.yaml)"
export HCLOUD_TOKEN
